---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Impressum - managames.de'>
  <main class='prose prose-invert prose-emerald px-16'>
    <h1>Impressum</h1>
    <p>Angaben gemäß § 5 TMG</p>
    <p>Blissestr. 5 10715 Berlin</p>
    <p>Vertreten durch: Enver Temiz</p>
    <p>Kontakt: Telefon: +49 1511 6823497 <br />E-Mail: info@managames.de 

  </main>
</Layout>
