---
import { SHOP_URL } from '../lib/config';
import '@fontsource-variable/space-grotesk';
---

<header class='h-64 backdrop-blur-md w-screen' id='home'>
  <div
    class='w-screen h-full flex items-center justify-center bg-gradient-to-b from-emerald-900/20 to-black/90'
  >
    <div class='w-full xl:w-1/2 px-16 text-center'>
      <h1
        class='uppercase text-7xl text-center md:text-8xl font-bold bg-gradient-to-r from-emerald-500 via-emerald-300 to-emerald-800 inline-block text-transparent bg-clip-text'
      >
        <a href='/'>MANA GAMES</a>
      </h1>
      <ul class='flex justify-between font-mono'>
        <li>
          <a href='/#home' class="text-lg">START</a>
        </li>
        <li>
          <a href={SHOP_URL} class="text-lg">SHOP</a>
        </li>
        <li>
          <a href='/#contact'class="text-lg">KONTAKT</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<style>
  h1,
  a {
    font-family: 'Space Grotesk Variable', sans-serif;
  }
  header {
    background-image: url('/header-bg.svg');
    background-size: cover;
    background-position: center;
  }
</style>